.navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    box-shadow: 0px 1px 3px -2px black;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px
}

.nav-logo p {
    color: #171717;
    font-size: 30px;
    font-weight: 600px;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: #626262;
    font-size: 20px;
    font-weight: 500;
}

.nav-menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}

.nav-menu hr {
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: #FF4141;
}

.navbar-user-logout {
    position: relative;
    width: 150px;
}

.navbar-user {
    color: #171717;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.1s;
    display: flex;
    align-items: center;
    gap: 5px;
}

.navbar-user:hover {
    transform: scale(1.05)
}

.nav-logout-btn {
    opacity: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 99%;
    right: 0;
    width: 100%;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    background-color: rgb(40, 167, 69);
    cursor: pointer;
    transition: opacity 0.2s;
}

.nav-logout-btn:hover {
    background-color: rgb(40, 150, 69);
}

.navbar-user-logout:hover .nav-logout-btn {
    opacity: 1;
}

.cart-link {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    font-weight: 500;
    color: #171717;
}

.nav-cart {
    position: relative;
    display: flex;
    align-items: center;
    height: 58px;
}

.nav-cart .nav-cart-count {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
    border-radius: 11px;
    background-color: red;
    color: white;
    top: 3px;
    margin-left: 25px;
    font-size: 14px;
}